.socialSignIn {
margin: .5rem auto 0;
}
.links {
    display: block;
    width: 100%;
    margin: .5rem auto 4rem;
    text-align: center;

    a{
        color: black;
    }
}
.login, .signUp{
    text-align: center;
    button{
        min-width: 30%;
    }
}