.btn{
    margin: 2rem;
    padding: .3rem;
    padding-right: 0.5rem;
    transform: scale(2);
    background-color: rgba(0, 0, 0, 0.682);
    color: rgba($color: #ff990a, $alpha: 1);
    cursor: pointer;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
    transition-duration: 1s;
    transition-delay:.1s;
    border: 1px solid rgba(0, 0, 0, 0.044);
}

.btn:hover{
    color: rgba($color: #6dffc55a, $alpha: 0.7);
  transition-duration: 1s;
    transition-delay:.1s;
    background-color: rgba(0, 0, 0, 0.882);;
}